<!DOCTYPE html>
<html lang="pt-BR" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{base::head('Ofertas')}"></head>

<body onLoad="onLoad()">
    <div th:replace="~{base::Logo}"></div>
    <div class="container" id="ofertas">
        <div th:replace="~{base::titulo('Faça sua oferta')}"></div>

        <div v-for="pedido in pedidos" class="card mb-3">

            <div class="card-header alert alert-dark">
                {{pedido.nomeProduto}}
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-sm-8 mb-3">
                        <div class="row">
                            <div class="col-mb-5">
                                <div>Valor: <input /></div>
                            </div>
                            <div class="col-mb-7">
                                <div>Data da Entrega: <input /></div>
                            </div>

                        </div>
                        <div>Produto</div>
                        <div> <a v-bind:href="pedido.urlProduto">{{pedido.urlProduto}}</a></div>

                        <div>Descrição</div>
                        <div>
                            <textarea class="form-control">{{pedido.descricao}}</textarea>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4">
                        <div>
                            <img v-bind:src="pedido.urlImagem" class="img-thumbnail" alt="imagem do produto" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function onLoad() {
            var app = new Vue({
                el: '#ofertas',
                data: {
                    pedidos: []
                },
                mounted() {
                    axios
                        .get("http://localhost:8080/api/pedidos/aguardando")
                        .then(response => (this.pedidos = response.data))
                }
            });
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</body>

</html>